In [24]:
# write a simple program that prints wether bob can enter the disco
# for any two values of the following variables:

bobs_age = 17
minimum_age_entry_disco = 21
legal_age_for_light_disco = 16

### YOUR CODE HERE ###

if (bobs_age >= minimum_age_entry_disco):
    print('You can enter the disco')
elif bobs_age >= legal_age_for_light_disco:
    print('Bob, go to the disco nearby')
else:
    print('Sorry Bob, go home')

Bob, go to the disco nearby

In [ ]:
# Write a program that iterates over list_of_names and breaks after printing just the name_to_print
name_to_print = 'Jack'
list_of_names = ['Alice', 'Bob', 'Jack', 'Mary', 'Manuel', 'Amanda', 'Ignacio', 'Fernando']

for name in list_of_names:
    print(name)
    if name == name_to_print:
        break

In [37]:
# Bonus: rewrite the program so that when name_to_print is not in the list you warn the user

name_to_print = 'Johnny'
list_of_names = ['Alice', 'Bob', 'Jack', 'Mary', 'Manuel', 'Amanda', 'Ignacio', 'Fernando']

for name in list_of_names:
    if name not in list_of_names:
        print('That name is not in the list')
    else:
        print(name)
        if name == name_to_print:
            break

Alice
Bob
Jack
Mary
Manuel
Amanda
Ignacio
Fernando

In [46]:
list_of_names =['Alice', 'Bob', 'Jack', 'Mary', 'Manuel', 'Amanda', 'Ignacio', 'Fernando']

for name in list_of_names:
    print(list_of_names.index(name), name)

0 Alice
1 Bob
2 Jack
3 Mary
4 Manuel
5 Amanda
6 Ignacio
7 Fernando

#LIST COMPREHENSION:

In [3]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

words_upp = []

for w in words:
    words_upp.append(w.upper())
print(words_upp)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

In [4]:
words_upp = [w.upper() for w in words]
words_upp

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

In [6]:
#append al numbers from range 1 to 10 squared.
lst = [num ** 2 for num in range(1, 10+1)]
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
#append all words in list 'words' with a length superior to 6 characters.
lst1 = [w for w in words if len(w) > 6]
lst1

['filling', 'theatre', 'easygoing']

In [16]:
y = [num for num in range(0, 101) if num % 5 == 0]
y

In [17]:
#Variables with conditions.

word = "labs"

word_type = "short" if len(word) < 5 else "long"

'short'